server {
  listen 443 ssl;
  server_name {% if branch == "develop" %}staging-{% endif %}{{ domain_name }};
  client_max_body_size 50M;

  root {{ nginx_root }};

  location / {
    try_files $uri $uri/ /index.html;
  }

  location /static/ {
    root {{ nginx_root }};
  }

  error_page 404 /index.html;
}
